$VerySmallLogoWidth: 16px;
$VerySmallLogoHeigth: 16px;

$SmallLogoWidth : 32px;
$SmallLogoHeigth : 32px;

$mediumLogoHeigth: 100px;
$mediumLogoWidth: 100px;

$bigLogoHeigth : 350px;
$bigLogoWidth: 350px;

$menu-size: 250px;

$very-big-margin: 50px;
$big-margin: 25px;
$medium-margin: 15px;
$small-margin: 5px;