$VerySmallLogoWidth: 16px;
$VerySmallLogoHeigth: 16px;

$SmallLogoWidth : 32px;
$SmallLogoHeigth : 32px;

$bigLogoHeigth : 350px;
$bigLogoWidth: 350px;

$big-margin: 25px;
$medium-margin: 15px;
$small-margin: 5px;