@import "_constants.scss";

.margin-top-medium {
    margin-top: $medium-margin;
}

.margin-top-small {
    margin-top: $small-margin;
}

.margin-top-big {
    margin-top: $big-margin;
}

.margin-top-very-big {
    margin-top: $very-big-margin;
}

.margin-left-medium {
    margin-left: $medium-margin;
}

.margin-left-small {
    margin-left: $small-margin;
}

.margin-left-big {
    margin-left: $big-margin;
}

.margin-left-very-big {
    margin-left: $very-big-margin;
}

.margin-right-medium {
    margin-right: $medium-margin;
}

.margin-right-small {
    margin-right: $small-margin;
}

.margin-right-big {
    margin-right: $big-margin;
}

.margin-right-very-big {
    margin-right: $very-big-margin;
}