@import "Partial/_color.scss";
@import "Partial/_constants.scss";

@import "Partial/_menu.scss";
@import "Partial/_media.scss";

.body-content {
    min-height: 80vh;
    padding-left: 0px;
    padding-right: 0px;
}

.messages-panel {
    margin-top: 5px;
    margin-bottom: 5px;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}