@using ClubNet.WebSite.ViewModels.Forms.User;
@model NewSubscriptionFormVM;

@inject IRequestService _requestService;
@inject IStringLocalizer<UserController> _localizer;

@{
}

<div>
  <p>New Subscription form</p>
</div>