@using ClubNet.WebSite.BusinessLayer.Contracts;

@inject IMenuBL _menuBL;
@{ 
}

<ul class="nav navbar-nav">

    @foreach (var menuItem in await _menuBL.GetMenuAsync("Main"))
    {
        @await Html.PartialAsync("_MenuItem", menuItem);
    }

    
    <li><a asp-area="" asp-controller="Home" asp-action="Index" >Home</a></li>
    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
</ul>